{% if catalog %}
    <li>
        {% if catalog.is_deleted == False %}
            <a class="catalog">{{ catalog.name }}/</a>
        {% endif %}
        <ul>
            {% for subcatalog in catalog.catalog_set.all %}
            {% if subcatalog.is_deleted == False %}
                {% include 'catalog.html' with catalog=subcatalog %}
            {% endif %}
            {% endfor %}
            <form method="POST">
            {% csrf_token %}
            {% for file in catalog.file_set.all %}
                {% if file.is_deleted == False %}
                    <li><a class="file"><button name="file" type="submit" value="{{file.id}}">{{ file.name }}</button></a></li>
                {% endif %}
            {% endfor %}
            </form>
        </ul>
    </li>
{% endif %}
