{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS Grid Layout</title>
    <link
      href="https://fonts.googleapis.com/css?family=Varela+Round"
      rel="stylesheet"
      type="text/css"
    >
    <link rel="stylesheet" href="{% static 'compilerapp/page.css' %}">
    <link rel="stylesheet" href="{% static 'compilerapp/grid.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="item" id="action-options">
        <ul class="horizontal">
          <li class="horizontal">Plik</li>
        </ul>
        <ul class="horizontal">
          <li class="horizontal">Edycja</li>
        </ul>
        <ul class="horizontal">
          <li class="horizontal">Opcje</li>
        </ul>
      </div>

      <textarea class="item" id="file-text">
#include &lg;mcs51/8051.h&gt;

unsigned char count = 0;

void setup()
{
  // set timer 0 mode 1
  TMOD = 0x01;
  TH0 = 0x4C;
  TL0 = 0x00;

  // start timer 0
  TR0 = 1;
  // enable timer 0 interrupt
  ET0 = 1;
  // enable all interrupt
  EA = 1;
}

void loop()
{
  if(count%20 == 0)
  {
    P0_0 = !P0_0;
    count = 0;
  }
}

void main()
{
  setup();
  while(1) loop();
}

void timer0() __interrupt 1
{
  count++;
}
      </textarea>

      <div class="item" id="file-tree">
        <ul class="vertical">
          <li class="vertical">/</li>
          <li class="vertical">
            etc/
            <ul class="vertical">
              <li class="vertical">apache2/</li>
              <li class="vertical">passwd</li>
            </ul>
          </li>
          <li class="vertical">mnt/</li>
          <li class="vertical">home/</li>
          <li class="vertical">
            var/
            <ul class="vertical">
              <li class="vertical">
                www/
                <ul class="vertical">
                  <li class="vertical">index.html</li>
                  <li class="vertical">style.css</li>
                  <li class="vertical">script.js</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="change-theme">
        <button type="button"  id="switch" onclick="toggleTheme()">Switch</button>
      </div>

      <textarea class="item" id="file-fragment">
void setup()
{
    // set timer 0 mode 1
    TMOD = 0x01;
    TH0 = 0x4C;
    TL0 = 0x00;

    // start timer 0
    TR0 = 1;
    // enable timer 0 interrupt
    ET0 = 1;
    // enable all interrupt
    EA = 1;
}
      </textarea>

      <div class="item" id="tab-space">
        <div class="tab">Tab1</div>
        <div class="tab">Tab2</div>
        <div class="tab">Tab3</div>
        <div class="tab">Tab4</div>
      </div>

      <div class="item" id="tab-content">Tab Content</div>
    </div>
    <script src="{% static 'compilerapp/main.js' %}"></script>
  </body>
</html>
